@import 'tailwindcss';

@theme {
  /* 폰트 */
  --font-sans: 'pretendard';
  --font-ibm: 'ibm-plex-sans';

  /* 색상 - purple */
  --color-purple-50: #f1eaff;
  --color-purple-100: #d2bdff;
  --color-purple-200: #bc9dff;
  --color-purple-300: #9e70ff;
  --color-purple-400: #8f57ff;
  --color-purple-500: #6e2aff;
  --color-purple-600: #6426e8;
  --color-purple-700: #4e1eb5;
  --color-purple-800: #3d178c;
  --color-purple-900: #2e126b;

  /* 색상 - orange */
  --color-orange-50: #fff0ea;
  --color-orange-100: #ffd1bf;
  --color-orange-200: #ffba9f;
  --color-orange-300: #ff9b74;
  --color-orange-400: #ff8759;
  --color-orange-500: #ff692f;
  --color-orange-600: #e8602b;

  /* 색상 - pink */
  --color-pink-50: #fef9e8;
  --color-pink-100: #fdedb7;
  --color-pink-200: #fce495;
  --color-pink-300: #fad864;
  --color-pink-400: #f9d146;
  --color-pink-500: #f8c518;
  --color-pink-600: #e2b316;

  /* 색상 - gray */
  --color-gray-0: #ffffff;
  --color-gray-50: #ececec;
  --color-gray-100: #c3c3c4;
  --color-gray-200: #a6a5a8;
  --color-gray-300: #7d7c80;
  --color-gray-400: #646367;
  --color-gray-500: #3d3c41;
  --color-gray-600: #38373b;
  --color-gray-700: #2b2b2e;
  --color-gray-800: #222124;
  --color-gray-900: #151515;

  /* 브레이크포인트 */
  --breakpoint-tablet: 30rem; /* 480px 이상 */
  --breakpoint-laptop: 64rem; /* 1024px 이상 */
  --breakpoint-desktop: 90rem; /* 1440px 이상 */
}

@utility font-headline {
  @apply text-4xl leading-[140%] font-bold; /* Headline - 36pt Bold */
}

@utility font-title {
  @apply text-2xl leading-[140%] font-semibold; /* Title - 24pt SemiBold */
}

@utility font-subtitle {
  @apply text-xl leading-[140%] font-semibold; /* SubTitle - 20pt SemiBold */
}

@utility font-body1 {
  @apply text-xl leading-[140%] font-medium; /* Body1 - 20pt Medium */
}

@utility font-body2 {
  @apply text-lg leading-[140%] font-medium; /* Body2 - 18pt Medium */
}

@utility font-body3 {
  @apply text-base leading-[140%] font-normal; /* Body3 - 16pt Regular */
}

@utility font-caption1 {
  @apply text-sm leading-[140%] font-normal; /* Caption1 - 14pt Regular */
}

@utility font-caption2 {
  @apply text-xs leading-[140%] font-normal; /* Caption2 - 12pt Regular */
}

body {
  background: var(--color-gray-900);
}
